<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Me</h2>
            <p>I am a fifth-year PhD student with an interest in individual differences in language processing and
                semantic
                representation. My work uses magnetoencephalography (MEG) to investigate the effect of local sentential
                context as well
                as idiosyncratic personal context on neural responses to language stimuli.</p>
        </div>
    </div>
</section>