/* Color Scheme */
$primary-color: #F4D6CC;
$secondary-color: #899878;
$white: #fff;
$dark: #243010;
$gray: #d9d9d9;
$light-gray: #f5f5f5;
$blue-gray: #d5dce3;

$background-color: #C8D0CB;
$background-color-alt: $white;

$text-color: $dark;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 5%);

$border-color: $blue-gray;

$hr-color: $text-color;
$tr-color: #f0f0f0;

$syntax-highlighting-background: #f3f3f3;