name: Deploy Jekyll site with Bookshop

on:
  push:
    branches: ["main"] # Ensure this matches your branch name

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4
  
        - name: Setup Ruby
          uses: ruby/setup-ruby@v1
          with:
            ruby-version: '3.3'
            # We turn off the automatic cache to force it to look at our manual path
            bundler-cache: false 
  
        - name: Install Dependencies
          # We tell Bundler exactly where the Gemfile is using an Environment Variable
          run: |
            cd site
            bundle config path vendor/bundle
            bundle install --jobs 4 --retry 3
          
        - name: Build with Jekyll
          run: |
            cd site
            bundle exec jekyll build
          env:
            JEKYLL_ENV: production
  
        - name: Upload artifact
          uses: actions/upload-pages-artifact@v3
          with:
            path: site/_site
